table{
	border-collapse: collapse;
	width: 100%;
}
th,td{
	border: 2px solid green;
	padding: 15px;
}
table#alter tr:nth-child(even) {
    background-color: #eee;
}
table#alter tr:nth-child(odd) {
    background-color: #fff;
}
table#alter th {
    color: white;
    background-color: gray;
}